################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Eltizam.Api/obj
/Eltizam.Business.Core/obj
/Eltizam.Business.Models/obj
/Eltizam.Data.DataAccess/obj
/Eltizam.Resource/obj
/Eltizam.Utility/obj
/Eltizam.Utility/obj
/Eltizam.Web/obj
/Eltizam.Data.DataAccess/bin
/Eltizam.Api/obj
/.vs/EltizamValuation/v17/.suo
/Eltizam.Api/obj/Debug/net6.0/refint/EltizamValuation.Api.dll
/Eltizam.Api/obj/Debug/net6.0/ref/EltizamValuation.Api.dll
/Eltizam.Api/obj/Debug/net6.0/staticwebassets/msbuild.EltizamValuation.Api.Microsoft.AspNetCore.StaticWebAssets.props
/Eltizam.Business.Core/obj/Debug/net6.0/ref/Eltizam.Business.Core.dll
/Eltizam.Business.Models/bin/Debug/net6.0/Eltizam.Business.Models.pdb
/Eltizam.Business.Models/bin/Debug/net6.0/Eltizam.Business.Models.dll
/Eltizam.Business.Core/bin/Debug/net6.0/Eltizam.Data.DataAccess.dll
/Eltizam.Business.Core/bin/Debug/net6.0/Eltizam.Business.Models.pdb
/Eltizam.Business.Core/bin/Debug/net6.0/Eltizam.Business.Models.dll
/Eltizam.Business.Core/bin/Debug/net6.0/Eltizam.Business.Core.pdb
/Eltizam.Business.Core/bin/Debug/net6.0/Eltizam.Business.Core.dll
/Eltizam.Api/bin/Debug/net6.0/EltizamValuation.Api.staticwebassets.runtime.json
/Eltizam.Api/bin/Debug/net6.0/EltizamValuation.Api.pdb
/Eltizam.Api/bin/Debug/net6.0/EltizamValuation.Api.dll
/Eltizam.Api/bin/Debug/net6.0/Eltizam.Utility.pdb
/Eltizam.Api/bin/Debug/net6.0/Eltizam.Utility.dll
/Eltizam.Api/bin/Debug/net6.0/Eltizam.Data.DataAccess.pdb
/Eltizam.Api/bin/Debug/net6.0/Eltizam.Data.DataAccess.dll
/Eltizam.Api/bin/Debug/net6.0/Eltizam.Business.Models.pdb
/Eltizam.Api/bin/Debug/net6.0/Eltizam.Business.Models.dll
/Eltizam.Api/bin/Debug/net6.0/Eltizam.Business.Core.pdb
/Eltizam.Api/bin/Debug/net6.0/Eltizam.Business.Core.dll
/Eltizam.Api/bin/Debug/net6.0/appsettings.json
/Eltizam.Business.Core/bin/Debug/net6.0/Eltizam.Utility.pdb
/Eltizam.Business.Core/bin/Debug/net6.0/Eltizam.Utility.dll
/Eltizam.Business.Core/bin/Debug/net6.0/Eltizam.Data.DataAccess.pdb
/Eltizam.Resource/obj/Debug/net6.0/Eltizam.Resource.csproj.GenerateResource.cache
/Eltizam.Utility/bin/Debug/net6.0/Eltizam.Utility.pdb
/Eltizam.Utility/bin/Debug/net6.0/Eltizam.Utility.dll
/Eltizam.Utility/bin/Debug/net6.0/Eltizam.Business.Models.pdb
/Eltizam.Utility/bin/Debug/net6.0/Eltizam.Business.Models.dll
/Eltizam.Utility/obj/Debug/net6.0/Eltizam.Utility.pdb
/Eltizam.Utility/obj/Debug/net6.0/Eltizam.Utility.dll
