################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Eltizam.Api/obj/
/Eltizam.Api/bin/
/EltizamValuationWebApi/obj/
/EltizamValuationWebApi/bin/
/Eltizam.WebApi/obj/
/Eltizam.WebApi/bin/
/Eltizam.Business.Core/obj/
/Eltizam.Business.Core/bin/
/Eltizam.Business.Models/obj/
/Eltizam.Business.Models/bin/
/Eltizam.Data.DataAccess/obj/
/Eltizam.Data.DataAccess/bin/
/Eltizam.Resource/obj/
/Eltizam.Resource/bin/
/Eltizam.Utility/obj/
/Eltizam.Utility/bin/
/Eltizam.Web/obj/
/Eltizam.Web/bin/
/Eltizam.Web/wwwroot/Uploads/errorlogs/ 