################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Eltizam.Api/obj/Debug/net6.0/EltizamValuation.Api.assets.cache
/Eltizam.Api/obj/Debug/net6.0/EltizamValuation.Api.csproj.AssemblyReference.cache
/Eltizam.Api/obj/Debug/net6.0/EltizamValuation.Api.GeneratedMSBuildEditorConfig.editorconfig
/Eltizam.Api/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Eltizam.Api/obj/Release/net6.0/EltizamValuation.Api.AssemblyInfo.cs
/Eltizam.Api/obj/Release/net6.0
/Eltizam.Business.Core/obj/Debug/net6.0/Eltizam.Business.Core.assets.cache
/Eltizam.Business.Core/obj/Debug/net6.0/Eltizam.Business.Core.csproj.AssemblyReference.cache
/Eltizam.Business.Core/obj/Debug/net6.0/Eltizam.Business.Core.GeneratedMSBuildEditorConfig.editorconfig
/Eltizam.Business.Core/obj/Release/net6.0
/Eltizam.Business.Models/obj/Debug/net6.0/Eltizam.Business.Models.assets.cache
/Eltizam.Business.Models/obj/Debug/net6.0/Eltizam.Business.Models.csproj.AssemblyReference.cache
/Eltizam.Business.Models/obj/Debug/net6.0/Eltizam.Business.Models.GeneratedMSBuildEditorConfig.editorconfig
/Eltizam.Business.Models/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Eltizam.Business.Models/obj/Release/net6.0
/Eltizam.Business.Models/obj/Release/net6.0/Eltizam.Business.Models.AssemblyInfo.cs
/Eltizam.Data.DataAccess/obj/Debug/net6.0/Eltizam.Data.DataAccess.assets.cache
/Eltizam.Data.DataAccess/obj/Debug/net6.0/Eltizam.Data.DataAccess.csproj.AssemblyReference.cache
/Eltizam.Data.DataAccess/obj/Debug/net6.0/Eltizam.Data.DataAccess.GeneratedMSBuildEditorConfig.editorconfig
/Eltizam.Data.DataAccess/obj/Release/net6.0/Eltizam.Data.DataAccess.AssemblyInfo.cs
/Eltizam.Data.DataAccess/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Eltizam.Data.DataAccess/obj/Release/net6.0
/Eltizam.Data.DataAccess/obj/Release/net6.0/Eltizam.Data.DataAccess.AssemblyInfoInputs.cache
/Eltizam.Resource/obj/Debug/net6.0/Eltizam.Resource.assets.cache
/Eltizam.Resource/obj/Debug/net6.0/Eltizam.Resource.csproj.AssemblyReference.cache
/Eltizam.Resource/obj/Debug/net6.0/Eltizam.Resource.GeneratedMSBuildEditorConfig.editorconfig
/Eltizam.Resource/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Eltizam.Resource/obj/Release/net6.0/Eltizam.Resource.AssemblyInfo.cs
/Eltizam.Resource/obj/Release/net6.0
/Eltizam.Resource/obj/Release/net6.0/Eltizam.Resource.AssemblyInfoInputs.cache
/Eltizam.Utility/obj/Debug/net6.0/Eltizam.Utility.assets.cache
/Eltizam.Utility/obj/Debug/net6.0/Eltizam.Utility.csproj.AssemblyReference.cache
/Eltizam.Utility/obj/Debug/net6.0/Eltizam.Utility.GeneratedMSBuildEditorConfig.editorconfig
*.cs
/Eltizam.Utility/obj/Release/net6.0
/Eltizam.Web/obj/Debug/net6.0/EltizamValuation.Web.assets.cache
/Eltizam.Web/obj/Debug/net6.0/EltizamValuation.Web.csproj.AssemblyReference.cache
/Eltizam.Web/obj/Debug/net6.0/EltizamValuation.Web.GeneratedMSBuildEditorConfig.editorconfig
/Eltizam.Web/obj/Release/net6.0
/Eltizam.Api/bin/Debug/net6.0/appsettings.json
/Eltizam.Api/bin/Debug/net6.0/Eltizam.Business.Core.dll
/Eltizam.Api/bin/Debug/net6.0/Eltizam.Business.Core.pdb
/Eltizam.Api/bin/Debug/net6.0/Eltizam.Business.Models.dll
/Eltizam.Api/bin/Debug/net6.0/Eltizam.Business.Models.pdb
/Eltizam.Api/bin/Debug/net6.0/Eltizam.Data.DataAccess.dll
/Eltizam.Api/bin/Debug/net6.0/Eltizam.Data.DataAccess.pdb
/Eltizam.Api/bin/Debug/net6.0/Eltizam.Resource.dll
/Eltizam.Api/bin/Debug/net6.0/Eltizam.Resource.pdb
/Eltizam.Api/bin/Debug/net6.0/Eltizam.Utility.dll
/Eltizam.Api/bin/Debug/net6.0/Eltizam.Utility.pdb
/Eltizam.Api/bin/Debug/net6.0/EltizamValuation.Api.dll
/Eltizam.Api/bin/Debug/net6.0/EltizamValuation.Api.exe
/Eltizam.Api/bin/Debug/net6.0/EltizamValuation.Api.pdb
/Eltizam.Api/bin/Debug/net6.0/EltizamValuation.Api.staticwebassets.runtime.json
/Eltizam.Api/obj/Debug/net6.0/ref/EltizamValuation.Api.dll
/Eltizam.Api/obj/Debug/net6.0/refint/EltizamValuation.Api.dll
/Eltizam.Api/obj/Debug/net6.0/staticwebassets/msbuild.EltizamValuation.Api.Microsoft.AspNetCore.StaticWebAssets.props
/Eltizam.Api/obj/Debug/net6.0/apphost.exe
/Eltizam.Api/obj/Debug/net6.0/EltizamValuation.Api.csproj.CoreCompileInputs.cache
/Eltizam.Api/obj/Debug/net6.0/EltizamValuation.Api.csproj.FileListAbsolute.txt
/Eltizam.Api/obj/Debug/net6.0/EltizamValuation.Api.dll
/Eltizam.Api/obj/Debug/net6.0/EltizamValuation.Api.genruntimeconfig.cache
/Eltizam.Api/obj/Debug/net6.0/EltizamValuation.Api.pdb
/Eltizam.Api/obj/Debug/net6.0/staticwebassets.build.json
/Eltizam.Api/obj/Debug/net6.0/staticwebassets.development.json
/Eltizam.Api/obj/Debug/net6.0/staticwebassets.pack.json
/Eltizam.Api/obj/EltizamValuation.Api.csproj.nuget.dgspec.json
/Eltizam.Api/obj/EltizamValuation.Api.csproj.nuget.g.props
/Eltizam.Api/obj/project.assets.json
/Eltizam.Api/obj/project.nuget.cache
/Eltizam.Business.Core/bin/Debug/net6.0/Eltizam.Business.Core.dll
/Eltizam.Business.Core/bin/Debug/net6.0/Eltizam.Business.Core.pdb
/Eltizam.Business.Core/bin/Debug/net6.0/Eltizam.Business.Models.dll
/Eltizam.Business.Core/bin/Debug/net6.0/Eltizam.Business.Models.pdb
/Eltizam.Business.Core/bin/Debug/net6.0/Eltizam.Data.DataAccess.dll
/Eltizam.Business.Core/bin/Debug/net6.0/Eltizam.Data.DataAccess.pdb
/Eltizam.Business.Core/bin/Debug/net6.0/Eltizam.Resource.dll
/Eltizam.Business.Core/bin/Debug/net6.0/Eltizam.Resource.pdb
/Eltizam.Business.Core/bin/Debug/net6.0/Eltizam.Utility.dll
/Eltizam.Business.Core/bin/Debug/net6.0/Eltizam.Utility.pdb
/Eltizam.Business.Core/obj/Debug/net6.0/ref/Eltizam.Business.Core.dll
/Eltizam.Business.Core/obj/Debug/net6.0/Eltizam.Business.Core.csproj.CoreCompileInputs.cache
/Eltizam.Business.Core/obj/Debug/net6.0/Eltizam.Business.Core.csproj.FileListAbsolute.txt
/Eltizam.Business.Core/obj/Debug/net6.0/Eltizam.Business.Core.dll
/Eltizam.Business.Core/obj/Debug/net6.0/Eltizam.Business.Core.pdb
/Eltizam.Business.Core/obj/Debug/net6.0/refint/Eltizam.Business.Core.dll
/Eltizam.Business.Core/obj/Eltizam.Business.Core.csproj.nuget.dgspec.json
/Eltizam.Business.Core/obj/Eltizam.Business.Core.csproj.nuget.g.props
/Eltizam.Business.Core/obj/project.assets.json
/Eltizam.Business.Core/obj/project.nuget.cache
/Eltizam.Web/obj/Debug/net6.0/ref/EltizamValuation.Web.dll
/Eltizam.Business.Models/obj/Debug/net6.0/Eltizam.Business.Models.csproj.CoreCompileInputs.cache
/Eltizam.Business.Models/obj/Debug/net6.0/Eltizam.Business.Models.csproj.FileListAbsolute.txt
/Eltizam.Business.Models/obj/Eltizam.Business.Models.csproj.nuget.dgspec.json
/Eltizam.Business.Models/obj/Eltizam.Business.Models.csproj.nuget.g.props
/Eltizam.Data.DataAccess/obj/Debug/net6.0/Eltizam.Data.DataAccess.csproj.CoreCompileInputs.cache
/Eltizam.Data.DataAccess/obj/Debug/net6.0/Eltizam.Data.DataAccess.csproj.FileListAbsolute.txt
/Eltizam.Data.DataAccess/obj/Eltizam.Data.DataAccess.csproj.nuget.dgspec.json
/Eltizam.Data.DataAccess/obj/Eltizam.Data.DataAccess.csproj.nuget.g.props
/Eltizam.Resource/obj/Debug/net6.0/Eltizam.Resource.csproj.CoreCompileInputs.cache
/Eltizam.Resource/obj/Debug/net6.0/Eltizam.Resource.csproj.FileListAbsolute.txt
/Eltizam.Resource/obj/Debug/net6.0/Eltizam.Resource.csproj.GenerateResource.cache
/Eltizam.Resource/obj/Eltizam.Resource.csproj.nuget.dgspec.json
/Eltizam.Resource/obj/Eltizam.Resource.csproj.nuget.g.props
/Eltizam.Utility/obj/Debug/net6.0/Eltizam.Utility.csproj.CoreCompileInputs.cache
/Eltizam.Utility/obj/Debug/net6.0/Eltizam.Utility.csproj.FileListAbsolute.txt
/Eltizam.Utility/obj/Eltizam.Utility.csproj.nuget.dgspec.json
/Eltizam.Utility/obj/Eltizam.Utility.csproj.nuget.g.props
/Eltizam.Web/obj/Debug/net6.0/EltizamValuation.Web.csproj.CoreCompileInputs.cache
/Eltizam.Web/obj/Debug/net6.0/EltizamValuation.Web.csproj.FileListAbsolute.txt
/Eltizam.Web/obj/EltizamValuation.Web.csproj.nuget.dgspec.json
/Eltizam.Web/obj/EltizamValuation.Web.csproj.nuget.g.props
/Eltizam.Api/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/Eltizam.Api/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/Eltizam.Api/bin/Debug/net6.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
/Eltizam.Api/bin/Debug/net6.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.pdb
/Eltizam.Api/bin/Debug/net6.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
/Eltizam.Api/bin/Debug/net6.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.pdb
/Eltizam.Api/bin/Debug/net6.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
/Eltizam.Api/bin/Debug/net6.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.pdb
/Eltizam.Api/bin/Debug/net6.0/EltizamValuation.Api.deps.json
/Eltizam.Api/bin/Debug/net6.0/EltizamValuation.Api.runtimeconfig.json
/Eltizam.Api/bin/Debug/net6.0/Humanizer.dll
/Eltizam.Api/bin/Debug/net6.0/Microsoft.Data.SqlClient.dll
/Eltizam.Api/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/Eltizam.Api/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Design.dll
/Eltizam.Api/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.dll
/Eltizam.Api/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Relational.dll
/Eltizam.Api/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.SqlServer.dll
/Eltizam.Api/bin/Debug/net6.0/Microsoft.Extensions.Caching.Memory.dll
/Eltizam.Api/bin/Debug/net6.0/Microsoft.Extensions.DependencyInjection.dll
/Eltizam.Api/bin/Debug/net6.0/Microsoft.Identity.Client.dll
/Eltizam.Api/bin/Debug/net6.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
/Eltizam.Api/bin/Debug/net6.0/System.Diagnostics.DiagnosticSource.dll
/Eltizam.Api/wwwroot/Uploads/errorlogs/AppLogs20230921.log
/Eltizam.Business.Models/bin/Debug/net6.0/Eltizam.Business.Models.dll
/Eltizam.Business.Models/bin/Debug/net6.0/Eltizam.Business.Models.pdb
/Eltizam.Business.Models/bin/Debug/net6.0/Eltizam.Resource.dll
/Eltizam.Business.Models/bin/Debug/net6.0/Eltizam.Resource.pdb
/Eltizam.Business.Models/obj/Debug/net6.0/refint/Eltizam.Business.Models.dll
/Eltizam.Business.Models/obj/Debug/net6.0/Eltizam.Business.Models.dll
/Eltizam.Business.Models/obj/Debug/net6.0/Eltizam.Business.Models.pdb
/Eltizam.Business.Models/obj/Debug/net6.0/ref/Eltizam.Business.Models.dll
/Eltizam.Data.DataAccess/bin/Debug/net6.0/Eltizam.Business.Models.dll
/Eltizam.Data.DataAccess/bin/Debug/net6.0/Eltizam.Business.Models.pdb
/Eltizam.Data.DataAccess/bin/Debug/net6.0/Eltizam.Data.DataAccess.deps.json
/Eltizam.Data.DataAccess/bin/Debug/net6.0/Eltizam.Data.DataAccess.dll
/Eltizam.Data.DataAccess/bin/Debug/net6.0/Eltizam.Data.DataAccess.pdb
/Eltizam.Data.DataAccess/bin/Debug/net6.0/Eltizam.Data.DataAccess.runtimeconfig.json
/Eltizam.Data.DataAccess/bin/Debug/net6.0/Eltizam.Resource.dll
/Eltizam.Data.DataAccess/bin/Debug/net6.0/Eltizam.Resource.pdb
/Eltizam.Data.DataAccess/bin/Debug/net6.0/Eltizam.Utility.dll
/Eltizam.Data.DataAccess/bin/Debug/net6.0/Eltizam.Utility.pdb
/Eltizam.Data.DataAccess/obj/Debug/net6.0/ref/Eltizam.Data.DataAccess.dll
/Eltizam.Data.DataAccess/obj/Debug/net6.0/Eltizam.Data.DataAccess.dll
/Eltizam.Data.DataAccess/obj/Debug/net6.0/Eltizam.Data.DataAccess.genruntimeconfig.cache
/Eltizam.Data.DataAccess/obj/Debug/net6.0/Eltizam.Data.DataAccess.pdb
/Eltizam.Data.DataAccess/obj/Debug/net6.0/refint/Eltizam.Data.DataAccess.dll
/Eltizam.Data.DataAccess/obj/project.assets.json
/Eltizam.Web/bin/Debug/net6.0/Eltizam.Business.Models.dll
/Eltizam.Web/bin/Debug/net6.0/Eltizam.Business.Models.pdb
/Eltizam.Web/bin/Debug/net6.0/Eltizam.Data.DataAccess.dll
/Eltizam.Web/bin/Debug/net6.0/Eltizam.Data.DataAccess.pdb
/Eltizam.Web/bin/Debug/net6.0/Eltizam.Resource.dll
/Eltizam.Web/bin/Debug/net6.0/Eltizam.Resource.pdb
/Eltizam.Web/bin/Debug/net6.0/Eltizam.Utility.dll
/Eltizam.Web/bin/Debug/net6.0/Eltizam.Utility.pdb
/Eltizam.Web/bin/Debug/net6.0/EltizamValuation.Web.deps.json
/Eltizam.Web/bin/Debug/net6.0/EltizamValuation.Web.dll
/Eltizam.Web/bin/Debug/net6.0/EltizamValuation.Web.pdb
/Eltizam.Web/bin/Debug/net6.0/EltizamValuation.Web.staticwebassets.runtime.json
/Eltizam.Web/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/Eltizam.Web/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Design.dll
/Eltizam.Web/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.dll
/Eltizam.Web/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Relational.dll
/Eltizam.Utility/bin/Debug/net6.0/Eltizam.Business.Models.dll
/Eltizam.Utility/bin/Debug/net6.0/Eltizam.Business.Models.pdb
/Eltizam.Utility/bin/Debug/net6.0/Eltizam.Resource.dll
/Eltizam.Utility/bin/Debug/net6.0/Eltizam.Resource.pdb
/Eltizam.Utility/bin/Debug/net6.0/Eltizam.Utility.dll
/Eltizam.Utility/bin/Debug/net6.0/Eltizam.Utility.pdb
/Eltizam.Utility/obj/Debug/net6.0/ref/Eltizam.Utility.dll
/Eltizam.Utility/obj/Debug/net6.0/refint/Eltizam.Utility.dll
/Eltizam.Utility/obj/Debug/net6.0/Eltizam.Utility.dll
/Eltizam.Utility/obj/Debug/net6.0/Eltizam.Utility.pdb
/Eltizam.Resource/obj/Debug/net6.0/ref/Eltizam.Resource.dll
/Eltizam.Resource/obj/Debug/net6.0/Eltizam.Resource.dll
/Eltizam.Resource/obj/Debug/net6.0/Eltizam.Resource.pdb
/Eltizam.Resource/obj/Debug/net6.0/refint/Eltizam.Resource.dll
/Eltizam.Resource/bin/Debug/net6.0/Eltizam.Resource.dll
/Eltizam.Resource/bin/Debug/net6.0/Eltizam.Resource.pdb
/Eltizam.Resource/obj/project.assets.json
/Eltizam.Business.Core/bin/Debug/net6.0/Eltizam.Business.Core.deps.json
/Eltizam.Data.DataAccess/obj/project.nuget.cache
/Eltizam.Resource/obj/project.nuget.cache
/Eltizam.Utility/obj/project.assets.json
/Eltizam.Utility/obj/project.nuget.cache
/Eltizam.Web/obj/Debug/net6.0/EltizamValuation.Web.dll
/Eltizam.Web/obj/Debug/net6.0/EltizamValuation.Web.genruntimeconfig.cache
/Eltizam.Web/obj/Debug/net6.0/EltizamValuation.Web.pdb
/Eltizam.Web/obj/Debug/net6.0/project.razor.vs.json
/Eltizam.Web/obj/Debug/net6.0/refint/EltizamValuation.Web.dll
/Eltizam.Web/obj/Debug/net6.0/staticwebassets.build.json
/Eltizam.Web/obj/Debug/net6.0/staticwebassets.development.json
/Eltizam.Web/obj/Debug/net6.0/staticwebassets.pack.json
/Eltizam.Web/obj/project.assets.json
/Eltizam.Web/obj/project.nuget.cache
/Eltizam.Business.Models/obj/project.assets.json
/Eltizam.Business.Models/obj/project.nuget.cache
