@using Eltizam.Web.Controllers
@using Microsoft.AspNetCore.Mvc.Localization

@model Eltizam.Business.Models.ForgotPasswordViewModel
@*@inject IViewLocalizer Localizer*@
@inject Microsoft.Extensions.Localization.IStringLocalizer<Eltizam.Resource.Account> Localizer


@{
    ViewData["Title"] = @Localizer["Login"];
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forget Password</title> 
</head>
<body> 

    <script>
        document.querySelector('.showPassword').addEventListener('click', function () {
            if (document.getElementById('password').type == 'password') {
                document.getElementById('password').type = "text";
                document.querySelector('.forgetPassword').classList.add('showPassEyeCross');
            } else {
                document.getElementById('password').type = "password";
                document.querySelector('.forgetPassword').classList.remove('showPassEyeCross');
            }
        })
    </script>
</body>
</html>