@using Eltizam.Web.Controllers
@using Microsoft.AspNetCore.Mvc.Localization

@model Eltizam.Business.Models.LoginViewModel
@*@inject IViewLocalizer Localizer*@
@inject Microsoft.Extensions.Localization.IStringLocalizer<Eltizam.Resource.Account> Localizer


@{
    ViewData["Title"] = @Localizer["Login"];
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forget Password</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
   
    <!-- forget password screen -->
    <div class="loginContainer">
        <img src="~/assets/logo.svg" alt="eltizam logo" class="logo" />
        <div class="loginBox">
            
            <form>
                <p>Forget Password</p>
                <p>Enter email address associated with your account</p>

                <label for="userId">
                    Email ID
                    <input type="text" placeholder="enter email id">
                </label>
                <button type="submit" class="blueBtn">Submit</button>
               @*  <button type="button" id="backButton">Back</button> *@
                <a asp-controller="Account" asp-action="Login" class="back-link">Back</a>
            </form>
        </div>
    </div>

    <script>
        document.getElementById("backButton").addEventListener("click", function () {
            // Redirect to the login page
            window.location.href = "/login"; // Replace with the actual URL of your login page
        });
    </script>

</body>
</html>