@using Microsoft.Extensions.Configuration
@using Microsoft.AspNetCore.Mvc.Localization
@inject IConfiguration Configuration
@inject Microsoft.Extensions.Localization.IStringLocalizer<Eltizam.Resource.Shared> SharedLocalizer
@{
    string jsVersion = @Configuration.GetSection("StaticJS")["version"];
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/style.css" rel="stylesheet" />
   @*  <script src="~/js/custom.js"></script> *@
</head>
<body>
    <div>
       
        @RenderBody()
        @*@Html.Partial("_SideNavPartial") *@
       
        <input type="hidden" id="hdnBaseURL" value="@Configuration.GetSection("Apiconfig")["baseurl"]" />
        <input type="hidden" id="hdnWebBaseURL" />
    </div>

    @await RenderSectionAsync("Scripts", required: false)
    @await RenderSectionAsync("MyScripts", required: false)
</body>

</html>