@using Eltizam.Utility.Utility;
@using Eltizam.Web.Controllers;
@using Microsoft.AspNetCore.Http;
@using Eltizam.Web.Helpers;
@using Eltizam.Utility.Enums;
@using Microsoft.AspNetCore.Mvc.Localization;
@inject Microsoft.Extensions.Localization.IStringLocalizer<Eltizam.Resource.Master> MasterLocalizer
@inject Microsoft.Extensions.Localization.IStringLocalizer<Eltizam.Resource.Shared> SharedLocalizer
@inject IHelper Helper

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="~/Home/Index" class="brand-link text-decoration-none Eltizam-logo">
        <i class="fa-solid fa-e fs-3 nav-icon brand-image text-red" style="padding: 9px 10px;"></i>
        <div class="logo">
            @*<span class="ms-2">Emcure</span><sub>Success Through Innovation</sub>*@
            <span class="ms-2"><img src="~/images/logo.png"></span>
        </div>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/AdminLTE/dist/img/avatar5.png" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="~/User/ChangeProfile" class="d-block">
                    @Convert.ToString(Context.Session.GetString(UserHelper.LoggedInUserName))
                </a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                <li class="nav-item menu-open">
                    <a href="~/Home/Index" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Dashboard
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-user"></i>
                        <p>
                            @SharedLocalizer["UserMangegment"]
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">

                        <li class="nav-item">
                            <a href="@Url.Action("TblUser","User")" class="nav-link">
                                <i class="nav-icon fas fa-users"></i>
                                <p>
                                    @SharedLocalizer["UserMangegment"]
                                </p>
                            </a>
                        </li>
                    </ul>
                </li>


                <li class="nav-item">
                    <form asp-action="Logout" asp-controller="Account" method="post">
                        <a class="nav-link" onclick="this.parentNode.submit();" style="color:#c2c7d0;" role="button">
                            <i class="nav-icon fas fa-sign-out-alt"></i>
                            <p>
                                Logout
                            </p>
                        </a>
                    </form>
                </li>

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
