@model Eltizam.Business.Models.ChangePasswordModel
<header class="flex justify-between align-item-center">
    <div class="hamburger-icon cursor-pointer" onClick="sideNavToggle()"><img src="~/assets/hamburger-icon.svg" alt="hamburger-icon" class="visible-in-web" /> <img src="~/assets/arrow-narrow-right.svg" alt="arrow-narrow-right" class="visible-in-mobile"></div>
    <div class="user flex">
        <div class="position-relative notification">
            <img src="~/assets/bell.svg" alt="bell" class="cursor-pointer" />
            <span>3</span>
        </div>
        <div class="flex align-item-center position-relative" onclick="profileMenu()">            
            <p class="visible-in-web">Saeed</p>
            <img src="~/assets/arrow-down.svg" alt="arrow-down" class="cursor-pointer visible-in-web" />
            <div id="profileMenu" class="actionItem" style="width: 120px;display: none;">
                <ul>
                    <li>
                        <a href="">
                            Manage profile
                        </a>
                    </li>
                    <li>
                      @*   <a asp-controller="Account" asp-action="ChangePassword">Change password</a> *@
                       <a id="addRole">Change password</a>
                     </li>
                    <li>
                        <a href="">

                            Logout
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>   
</header>
<div class="popup-overlay" id="popup-addRole-overlay">
    <div class="popup">
        <div class="content text-center" style="width:460px">
            <div class="popup-head position-relative">
                Change Password
                <img src="../assets/x.svg" alt="x" id="closePopup" class="addRoleClose">
            </div>
            <div class="popup-action inputSearchs">
                <form asp-action="ChangePassword" asp-controller="Account" method="post">
                    <div class="flex text-left">
                        <label class="w-100" for="">
                            New Password
                            <input asp-for="NewPassword" type="password" placeholder="Enter Password" required>
                        </label>
                        
                    </div>
                    <div class="flex text-left">                      
                        <label class="w-100" for="">
                            Confirm Password
                            <input asp-for="ConfirmPassword" type="password" placeholder="Confirm New Password" required>
                        </label>
                    </div>                   
                
                <div class="buttonArea centerBtn">
                   @*  <button class="lineBtn" id="resetLocation">Reset</button> *@
                    <button type="submit" class="bgBlue">Submit</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function profileMenu() {
        var x = document.getElementById("profileMenu");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    document.addEventListener("DOMContentLoaded", () => {
        const addRole = document.getElementById("addRole");
        const addRolePopup = document.getElementById("popup-addRole-overlay");
        const closePopup = document.querySelector(".addRoleClose");

        addRole.addEventListener("click", () => addRolePopup.classList.add("display-block"));
        closePopup.addEventListener("click", () => addRolePopup.classList.remove("display-block"));
    });
</script>