<header class="flex justify-between align-item-center">
    <div class="hamburger-icon cursor-pointer" onClick="sideNavToggle()"><img src="~/assets/hamburger-icon.svg" alt="hamburger-icon" class="visible-in-web" /> <img src="~/assets/arrow-narrow-right.svg" alt="arrow-narrow-right" class="visible-in-mobile"></div>
    <div class="user flex">
        <div class="position-relative notification">
            <img src="~/assets/bell.svg" alt="bell" class="cursor-pointer" />
            <span>3</span>
        </div>
        <div class="flex align-item-center">
            <img src="~/assets/user-icon.svg" alt="user-icon" class="profile cursor-pointer" />
            <p class="visible-in-web">Saeed</p>
            <img src="~/assets/arrow-down.svg" alt="arrow-down" class="cursor-pointer visible-in-web" />
        </div>
    </div>
</header>