@using Microsoft.AspNetCore.Http
@using Eltizam.Web.Controllers
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHttpContextAccessor HttpContextAccessor
@inject Microsoft.Extensions.Localization.IStringLocalizer<Eltizam.Resource.Master>
    MasterLocalizer

    @inject Microsoft.Extensions.Localization.IStringLocalizer<Eltizam.Resource.Shared>
        SharedLocalizer
        @using Microsoft.Extensions.Configuration
        @inject IConfiguration Configuration

        @model Eltizam.Business.Models.MasterDepartmentEntity
        @{
        ViewData["Title"] = @MasterLocalizer["DepartmentManage"];
        string PageHeading = "";
        string jsVersion = @Configuration.GetSection("StaticJS")["version"];

        }


      
           
                    <main>
                        <div class="whiteBoxShadow">
                            <div class="heading position-relative">
                                <h3 class="dashboardTitle">Department Master</h3>
                            </div>
                            <div class="bodyContent">
                                <div class="inputSearchs">
                                    <form>
                                        <div class="flex">
                                            <label for="" class="w-50">
                                                Department name
                                                <input type="text" placeholder="enter department name" />
                                            </label>
                                            <label for="" class="w-50">
                                                Status
                                                <input class='input-switch' type="checkbox" id="addLocation" required />
                                                <label class="label-switch" for="addLocation"></label>
                                                <span class="info-text"></span>
                                            </label>
                                        </div>
                                        <div class="text-center buttonArea">
                                            <button type="submit" class="blueBtn">Save</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </main>
                   
           