@using Eltizam.Utility.Models;
@using Microsoft.AspNetCore.Http
@using Eltizam.Web.Controllers
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHttpContextAccessor HttpContextAccessor
@inject Microsoft.Extensions.Localization.IStringLocalizer<Eltizam.Resource.Master> MasterLocalizer
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@inject Microsoft.Extensions.Localization.IStringLocalizer<Eltizam.Resource.Shared> SharedLocalizer
@{
    ViewData["Title"] = @SharedLocalizer["ClientMangegment"];
    string jsVersion = @Configuration.GetSection("StaticJS")["version"];
}
    <!-- system user master -->
    <div class="flex">
        <div class="w-100 position-relative">            
            <main>
                <h3 class="dashboardTitle">CLIENT MASTER</h3>
                <div class="flex justify-between mb-28 mobile_flexColumn position-relative">
                    <div class="flex">
                        <label class="searchBox position-relative">
                            <div class="flex align-item-center">
                                <img src="../assets/search.svg" alt="search">
                                <input type="text" placeholder="Search for System" class="searchInput">
                            </div>
                            <button class="normalSearch">Search</button>
                        </label>
                        <div class="accordion">
                            <input type="checkbox" id="section1" class="advancedSearch visible-in-web">
                            <label for="section1" class="advaceSearhBtn"><img src="../assets/filter.svg" alt="filterSearch"/></label>
                            <div class="accordion-content inputSearchs">
                                <h3 class="text-center">Advanced Search</h3>
                                <form>
                                    <div class="flex">
                                        <label for="userName">
                                            User Name 
                                            <input type="text" placeholder="enter user id">
                                        </label>
                                        <label for="valuatorType">
                                            Valuator Type 
                                            <select name="Valuator" id="ValuatorType">
                                                <option value="Valuator1">Valuator type1</option>
                                                <option value="Valuator2">Valuator type2</option>
                                                <option value="Valuator3">Valuator type3</option>
                                            </select>
                                        </label>
                                        <label for="resourceType">
                                            Resource Type 
                                            <select name="Valuator" id="resourceType">
                                                <option value="resourceType1">Resource type1</option>
                                                <option value="resourceType2">Resource type2</option>
                                                <option value="resourceType3">Resource type3</option>
                                            </select>
                                        </label>
                                        <label for="roleName">
                                            Role Name 
                                            <select name="Valuator" id="roleName">
                                                <option value="roleName1">Role type1</option>
                                                <option value="roleName2">Role type2</option>
                                                <option value="roleName3">Role type3</option>
                                            </select>
                                        </label>
                                    </div>
                                    <div class="flex">
                                        <label for="fromDate">
                                            From Date 
                                            <input type="date">    
                                        </label>
                                        <label for="toDate">
                                            To Date 
                                            <input type="date">    
                                        </label>
                                        <label for="designation">
                                            Designation 
                                            <select name="Valuator" id="ValuatorType">
                                                <option value="Valuator1">Designation type1</option>
                                                <option value="Valuator2">Designation type2</option>
                                                <option value="Valuator3">Designation type3</option>
                                            </select>
                                        </label>
                                        <label for="designation">
                                            Department 
                                            <select name="Valuator" id="ValuatorType">
                                                <option value="Valuator1">Department type1</option>
                                                <option value="Valuator2">Department type2</option>
                                                <option value="Valuator3">Department type3</option>
                                            </select>
                                        </label>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="blueBtn">Search</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="buttonArea flex align-item-center">
                    <form asp-action="ClientManage" asp-controller="Client" method="GET">
                        <button class="flex align-item-center blueBtn">
                            <img src="../assets/plus.svg" alt="plus"> Add New
                        </button>
                        </form>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="flex align-item-center lineBtn exportFile">
                            <img src="../assets/file-export.svg" alt="file-export"> Export
                            <div class="actionItem">
                                <ul>
                                    <li>
                                        Excel XML
                                    </li>
                                    <li>
                                        CSV
                                    </li>
                                </ul>
                            </div>
                        </button>
                    </div>
                </div>
                <div class="scroll-x">
                <table id="ClientTable">
                        <thead>
                            <tr>
                                <th>Client Name <img src="../assets/arrow-down.svg" alt="arrow-down" class="downArrow"/></th>
                                <th>Client Type <img src="../assets/arrow-down.svg" alt="arrow-down" class="downArrow"/></th>
                                <th>TRN Number</th>
                                <th>TRN Expiry</th>
                                <th>License Number</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>                
            </main>
            <footer class="flex justify-between">
                <p>2023 © Eltizam.</p>
                <p>Design & Develop by NeoSoft</p>
            </footer>
           
            <!-- popup delete model -->
            <div class="popup-overlay" id="popup-delete-overlay">
                <div class="popup">
                    <div class="content text-center">
                        <div class="popup-head">Delete User</div>
                        <div class="popup-action">
                            <p>Are you sure you want to delete?</p>
                            <div class="buttonArea popup-btn">
                                <button id="cancelDeleteUser" class="greyBtn">Cancel</button>
                                <button class="redBtn">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- popup import model -->
            <div class="popup-overlay" id="popup-import-overlay">
                <div class="popup">
                    <div class="content text-center">
                        <div class="popup-head position-relative">Import Resource
                            <img src="../assets/x.svg" alt="x" id="closePopup">
                        </div>
                        <div class="popup-action importBox">
                            <p class="text-left">Browse File</p>
                            <div class="inputBox">
                                <input type="file" name="file" id="file" class="file"/>
                                <div class="flex">
                                    <input type="text" name="file-name" id="file-name" class="w-100" readonly="readonly" placeholder="Doc Name"/>
                                    <div class="uploadFileBtn flex">
                                        <img src="../assets/files.svg" alt="file">
                                        <input type="button" class="btn" value="Browse"/>
                                    </div>
                                </div>
                            </div>
                            <div class="buttonArea popup-btn">
                                <button id="cancelDeleteUser" class="bgBlue">Submit</button>
                                <button class="lineBtn">Download Template</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

<script src="~/AdminLTE/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="~/js/Custom/main.js?v=@jsVersion"></script>
<script type="text/javascript" src="~/js/Custom/CustomDateFormat.js?v=@jsVersion"></script>
<script type="text/javascript" src="~/js/Custom/JqueryExtension.js?v=@jsVersion"></script>

    @section MyScripts {

        @Html.Partial("_DataTablePartial")
        <script type="text/javascript" src="~/js/Custom/DynamicDataTable.js?v=@jsVersion"></script>
        <script type="text/javascript" src="~/js/Custom/MasterClient/MasterClient.js?v=@jsVersion"></script>

    <script>
        //#region Setup API Url
        var AllClient = "@Eltizam.Web.Helpers.APIURLHelper.GetSearchClient";

        function sideNavToggle() {
            var x = document.getElementById("sideNav");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }

        
        function addClient(){
            window.location.href = 'file:///C:/Users/User/OneDrive/Desktop/workspace/Eltizam/Master_Client/addClient.html'
        }
        function clientDetails(){
            window.location.href = 'file:///C:/Users/User/OneDrive/Desktop/workspace/Eltizam/Master_Client/client-details.html'
        }
    </script>
    }
